@tailwind base;
@tailwind components;
@tailwind utilities;

.hex {
    margin-top: 30px;
    width: 52px;
    height: 30px;
    background: #5FF1D0;
    position: relative;
}
.hex:before, .hex:after {
    content:"";
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    position: absolute;
}
.hex:before {
    top: -14px;
    border-bottom: 15px solid #5FF1D0;
}
.hex:after {
    bottom: -14px;
    border-top: 15px solid #5FF1D0;
}


svg:hover {
    color: #5FF1D0;
    margin-bottom: 5px;
    cursor: pointer;
}